<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
	<head th:substituteby="html/common :: headerFragment1">

		<script src="http://code.jquery.com/jquery.min.js"></script>

		<script th:remove="all" type="text/javascript" src="../assets/js/pages.js"></script>
		<script th:remove="all" type="text/javascript" src="../assets/js/thymol.js"></script>

	</head>
	<!--[if lt IE 7]> <body class="ie6 oldies"> <![endif]-->
	<!--[if IE 7]>    <body class="ie7 oldies"> <![endif]-->
	<!--[if IE 8]>    <body class="ie8 oldies"> <![endif]-->
	<!--[if gt IE 8]><!-->
	<body>
		<!--<![endif]-->
		<!--[if lte IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
		<!-- <header th:include="html/common :: contactMenuFragment" /> -->
		<header class="clearfix">
			<div class="container" th:include="html/common :: contactMenuFragment"></div>
		</header>

		<section role="banner">
			<hgroup>
				<h1>Edit Database</h1>
				<h2>Rasik Database</h2>
			</hgroup>
		</section>
		<!-- // banner ends -->
		<div class="ym-wrapper">
			<div class="ym-grid">
			<article class="ym-g960-12 ym-gl">
					<div class="ym-gbox">
						<div id="validationFeedback">
					<span></span>
					</div>
						<form class="clearfix tableDataFields" id="addItemForm"  th:action="@{/admin/submitItem.html}"  th:object="${item}"  action="message.html" name="itemForm"  method="post">

							<fieldset title="Add New Item" class="foldedset">
							<ul>
							<li class="elem-3">
								<label for="itemTypeDropdown" th:text="@{Item Type : }" class="required">Item Type : </label>
								<select tabindex="10" id="itemTypeDropdown" name="itemTypeDropdown">
									<option th:each="itemtype : ${itemTypeList}" th:value="${itemtype.itemTypeId}" th:text="${itemtype.description}">Wireframe</option>
								</select>
								<input type="button" tabindex="20" th:id="addItemTypeAjax" id="addItemType" name="addItemType" value="New Item Type"/>
										
							</li>
							<li class="elem-3">
								<label for="bindingTypeDropdown" th:text="@{Binding Type : }" class="required">Binding Type : </label>
								<select tabindex="30" id="bindingTypeDropdown" name="bindingTypeDropdown">
									<option th:each="bindingtype : ${bindingTypeList}" th:value="${bindingtype.bindingTypeId}" th:text="${bindingtype.bindingTypeName}">Wireframe</option>
								</select>
								<input type="button" tabindex="40" th:id="addBindingTypeAjax" id="addbindingType" name="addbindingType" value="New binding Type"/>
							</li>
							<!--<li class="elem-3">
								<label for="discountDropdown" th:text="@{Discount : }" class="required">Discount: </label>
								<select tabindex="50" id="discountDropdown" name="discountDropdown">
									<option th:each="discounts : ${discountsList}" th:value="${discounts.discountId}" th:text="${discounts.description}">Wireframe</option>
								</select>
								<input type="button" tabindex="60"  th:id="addDiscountAjax" id="addDiscount" name="addDiscount" value="New Discout Type"/>
							</li>-->
							<li class="elem-3">
								<label for="languageDropdown" th:text="@{Language : }" class="required">Language: </label>
								<select tabindex="70" id="languageDropdown" name="languageDropdown">
									<option th:each="itemLanguage : ${itemLanguagesList}" th:value="${itemLanguage.languageId}" th:text="${itemLanguage.languageName}">Wireframe</option>
								</select>
								<input type="button" tabindex="80" th:id="addLanguageAjax" id="addLanguage" name="addDiscount" value="New Language"/>
							</li>
							<li class="elem-3">
								<label for="edition" th:text="@{Edition : }" class="required">Edition : </label>
								<select tabindex="90" id="editionDropdown" name="editionDropdown">
									<option th:each="itemsEdition : ${itemsEditionList}" th:value="${itemsEdition.itemsEditionid}" th:text="${itemsEdition.itemsedition}">Wireframe</option>
								</select>
								<input type="button" tabindex="100" th:id="addItemsEdtionAjax" id="addItemsEdtionAjax" name="addEdition" value="New Edition"/>
							</li>
							<li class="elem-3">
								<label for="stockCenter" th:text="@{Stock Center : }" class="required">Stock Center : </label>
								<select tabindex="110" id="stockCenterDD" name="stockCenterDD">
									<option th:each="itemsStockCenter : ${itemStockCenterList}" th:value="${itemsStockCenter.itemsStockCenterid}" th:text="${itemsStockCenter.itemsStockCenterid}">Wireframe</option>
								</select>
								<input type="button" tabindex="120" id="addStockCenter" th:id="addStockCenterAjax" name="addStockCenter" value="New Stock Center"/>
							</li>
							
							<li class="elem-3">
								<label for="Author" th:text="@{Author : }" class="required">Author : </label>
								<select tabindex="130" id="authorDD" name="authorDD">
									<option th:each="itemsAuthor : ${itemAuthorList}" th:value="${itemsAuthor.itemsAuthorid}" th:text="${itemsAuthor.itemsAuthorid}">Wireframe</option>
								</select>
								<input type="button" tabindex="140" id="addAuthor" th:id="addAuthorAjax" name="addAuthor" value="New Author"/>
							</li>
							<li class="elem-3">
								<label for="PublSuppl" th:text="@{Publish Supplier : }" class="required">Publish Supplier : </label>
								<select tabindex="150" id="PublSupplDD" name="PublSupplDD">
									<option th:each="itemsPublSuppl : ${itemPublSuppl}" th:value="${itemsPublSuppl.itemsPublSupplid}" th:text="${itemsPublSuppl.itemsPublSupplid}">Wireframe</option>
								</select>
								<input type="button" tabindex="160" th:id="addPublSupplAjax" id="addPublSuppl" name="addPublSuppl" value="New Publ Suppl"/>
							</li>
							<li class="elem-3">
								<label for="Translations" th:text="@{Translations : }" class="required">Translations : </label>
								<select tabindex="170" id="TranslationsDD" name="TranslationslDD">
									<option th:each="itemsTranslations : ${translationList}" th:value="${itemsTranslations.translationId}" th:text="${itemsTranslations.originalname}">Wireframe</option>
								</select>
								<input type="button" tabindex="180" th:id="addTranslationsAjax" id="addTranslationsAjax" name="addTranslationsAjax" value="New Translation"/>
							</li>
							
							<li class="elem-3">
								<label for="Categories" th:text="@{Categories : }" class="required">Categories : </label>
								<select tabindex="190" id="CategoriesDD" name="CategorieslDD">
									<option th:each="itemsCategories : ${itemCategories}" th:value="${itemsCategories.itemsCategoriesid}" th:text="${itemsCategories.itemsCategoriesid}">Wireframe</option>
								</select>
								<input type="button" tabindex="200" id="addTranslations" name="addTranslations" value="New Category"/>
							</li>
							<li class="elem-3">
								<label for="awarddetails" th:text="@{Award Detail : }" class="required">Award Details : </label>
								<textarea tabindex="210" autocomplete="on" required="on" name="awarddetails" id="awarddetails" th:field="*{awarddetails}" style="min-height:5em; max-height:10em"></textarea>
							</li>
							
							<li class="elem-3">
								<label for="userBookCode" th:text="@{Book Code : }" class="required">Book Code : </label>
								<input type="text" tabindex="220" autocomplete="on" required="on" name="userBookCode" id="userBookCode" th:field="*{userBookCode}"/>
							</li>
							<li class="elem-3">
								<label for="englishName" th:text="@{English Name : }" class="required">English Name : </label>
								<input type="text" tabindex="230" autocomplete="on" required="on" name="englishName" id="englishName" th:field="*{englishName}"/>
							</li>
							<li class="elem-3">
								<label for="marathiName" th:text="@{Marathi Name : }" class="required">Marathi Name : </label>
								<input type="text" tabindex="240" autocomplete="on" required="on" name="marathiName" id="marathiName" th:field="*{marathiName}"/>
							</li>
							<li class="elem-3">
								<label for="publisherCode" th:text="@{Pub Code : }" class="required">Pub Code : </label>
								<input type="text" tabindex="250" autocomplete="on" required="on" name="publisherCode" id="publisherCode" th:field="*{publisherCode}"/>
							</li>
							<li class="elem-3">
								<label for="price" th:text="@{Price : }" class="required">Price : </label>
								<input type="text" tabindex="260" autocomplete="on" required="on" name="price" id="price" th:field="*{price}"/>
							</li>
							<li class="elem-3">
								<label for="qtyInHand" th:text="@{Qty in hand : }" class="required">Qty in hand : </label>
								<input type="text" tabindex="270" autocomplete="on" required="on" name="qtyInHand" id="qtyInHand" th:field="*{qtyInHand}"/>
							</li>
							<li class="elem-3">
								<label for="minLevel" th:text="@{Min Lvl : }" class="required">Min Lvl : </label>
								<input type="text" tabindex="280" autocomplete="on" required="on" name="minLevel" id="minLevel" th:field="*{minLevel}"/>
							</li>
							
							</ul>
							</fieldset>
							
							<fieldset title="&nbsp;" class="foldedset">
								<ul>
							<li class="elem-3">
								<label for="maxLevel" th:text="@{Max Lvl : }" class="required">Max Lvl : </label>
								<input type="text" tabindex="290" autocomplete="on" required="on" name="maxLevel" id="maxLevel" th:field="*{maxLevel}"/>
							</li>
							<li class="elem-3">
								<label for="maxSalePrice" th:text="@{Max Sale Price : }" class="required">Max Sale Price: </label>
								<input type="text" tabindex="300" autocomplete="on" required="on" name="maxSalePrice" id="maxSalePrice" th:field="*{maxSalePrice}"/>
							</li>
							<li class="elem-3">
								<label for="publMonth" th:text="@{Pub Month : }" class="required">Pub Month : </label>
								<input type="text" tabindex="310" autocomplete="on" required="on" name="publMonth" id="publMonth" th:field="*{publMonth}"/>
							</li>
							<li class="elem-3">
								<label for="publYear" th:text="@{Pub Year : }" class="required">Pub Year : </label>
								<input type="text" tabindex="320" autocomplete="on" required="on" name="publYear" id="publYear" th:field="*{publYear}"/>
							</li>
							<li class="elem-3">
								<label for="isbnno" th:text="@{ISBN No : }" class="required">ISBN No : </label>
								<input type="text" tabindex="330" autocomplete="on" required="on" name="isbnno" id="isbnno" th:field="*{isbnno}"/>
							</li>
							<li class="elem-3">
								<label for="noOfPages" th:text="@{No of Pages : }" class="required">No of Pages : </label>
								<input type="text" tabindex="340" autocomplete="on" required="on" name="noOfPages" id="noOfPages" th:field="*{noOfPages}"/>
							</li>
							
							<li class="elem-3">
								<label for="description" th:text="@{Description : }" class="required">Description : </label>
								<textarea tabindex="350" autocomplete="on" required="on" name="description" id="description" th:field="*{description}" style="min-height:5em; max-height:10em"></textarea>
							</li>
							
							<li class="elem-3">
								<label for="itemCoverImage" th:text="@{Item Cover : }" class="required">Item Cover : </label>
								<input type="file" tabindex="360" autocomplete="on" required="on" name="itemCoverImage" id="itemCoverImage" th:field="*{itemCoverImage}"/>
								<input tabindex="370" type="button" value="Upload" id="uploadbtn" name="uploadbtn"/>
							</li>
							<li class="elem-3">
								<label for="ebookFile" th:text="@{E-Book File : }" class="required">E-Book File : </label>
								<input type="file" tabindex="380" autocomplete="on" required="on" name="ebookFile" id="ebookFile" th:field="*{ebookFile}"/>
								<input tabindex="390" type="button" value="Upload" id="uploadbtn" name="uploadbtn"/>
							</li>
							<li class="elem-3">
								<label for="audioBookFile" th:text="@{Audio Book File : }" class="required">Audio Book File : </label>
								<input type="file" tabindex="400" autocomplete="on" required="on" name="audioBookFile" id="audioBookFile" th:field="*{audioBookFile}"/>
								<input tabindex="410" type="button" value="Upload" id="uploadbtn" name="uploadbtn"/>
							</li>
							
							<li class="elem-3">
								<label for="printStatus" th:text="@{Print Status : }" class="required">Print Status: </label>
								<input type="text" tabindex="420" autocomplete="on" required="on" name="printStatus" id="printStatus" th:field="*{printStatus}"/>
							</li>
							<li class="elem-3">
								<label for="maxSalePriceEndDate" th:text="@{Sale End : }" class="required">Sale End : </label>
								<input type="text" tabindex="430" autocomplete="on" required="on" name="maxSalePriceEndDate" id="maxSalePriceEndDate" th:field="*{maxSalePriceEndDate}"/>
							</li>
							<li class="elem-3">
								<label for="maxOwDiscountPrecent" th:text="@{Out Disc Percent : }" class="required">Out Disc Percent : </label>
								<input type="text" tabindex="440" autocomplete="on" required="on" name="maxOwDiscountPrecent" id="maxOwDiscountPrecent" th:field="*{maxOwDiscountPrecent}"/>
							</li>
							<li class="elem-3">
								<label for="maxOwDiscountEndDate" th:text="@{Out Disc End : }" class="required">Out Disc End : </label>
								<input type="text" tabindex="450" autocomplete="on" required="on" name="maxOwDiscountEndDate" id="maxOwDiscountEndDate" th:field="*{maxOwDiscountEndDate}"/>
							</li>
							<li class="elem-3">
								<label for="maxInwDiscountPercent" th:text="@{In Disc Percent : }" class="required">In Disc Percent : </label>
								<input type="text" tabindex="460" autocomplete="on" required="on" name="maxInwDiscountPercent" id="maxInwDiscountPercent" th:field="*{maxInwDiscountPercent}"/>
							</li>
							<li class="elem-3">
								<label for="maxInwDiscountEndDate" th:text="@{In Disc End : }" class="required">In Disc End : </label>
								<input type="text" tabindex="470" autocomplete="on" required="on" name="maxInwDiscountEndDate" id="maxInwDiscountEndDate" th:field="*{maxInwDiscountEndDate}"/>
							</li>
							
							<li class="elem-3">
								<input tabindex="480" type="reset" value="Reset " id="reset" name="reset"/>
								<input tabindex="490" type="submit" value="Save" id="submitbtn" name="submitbtn"/>
							</li>
							</ul>							
							</fieldset>
							
							<input type="hidden" autocomplete="on" name="itemId" id="itemId" th:field="*{itemId}"/>
						</form>
					</div>
				</article>
			</div>
		</div>
		<div id="float-modal-form" >
		
		</div> 
		<footer role="contentinfo">
			<p>
				<span class="left">CSS Junction &copy; - 2013 | Released under Creative Common License. <a href="#">Goto Top</a></span>
		
			</p>
		</footer>

	</body>
	
	<!--<script>
            window.jQuery || document.write('<script type="text/javascript" src="../assets/js/jquery-1.8.1.min.js"><\/script>')
	</script>-->
	<script type="text/javascript" src="../assets/js/jquery.validate.js"></script>
	<script type="text/javascript" src="../assets/js/itemDataFields.js"></script>
	<script type="text/javascript" src="../assets/js/jquery-ui-1.10.4.custom.js"></script>

</html>