<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
	<head th:substituteby="html/common :: headerFragment1">

		<script src="http://code.jquery.com/jquery.min.js"></script>

		<script th:remove="all" type="text/javascript" src="../assets/js/pages.js"></script>
		<script th:remove="all" type="text/javascript" src="../assets/js/thymol.js"></script>
	</head>
	<!--[if lt IE 7]> <body class="ie6 oldies"> <![endif]-->
	<!--[if IE 7]>    <body class="ie7 oldies"> <![endif]-->
	<!--[if IE 8]>    <body class="ie8 oldies"> <![endif]-->
	<!--[if gt IE 8]><!-->
	<body>
	
		<script type="text/javascript" th:utext="'var tempId = ' + ${tempFileId}" >
		</script>
	
		<!--<![endif]-->
		<!--[if lte IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
		<!-- <header th:include="html/common :: contactMenuFragment" /> -->
		<header class="clearfix">
			<div class="container" th:include="html/common :: contactMenuFragment"></div>
		</header>

		<section role="banner">
			<hgroup>
				<h1>Edit Database</h1>
				<h2>Rasik Database</h2>
			</hgroup>
		</section>
		<!-- // banner ends -->
		<div class="ym-wrapper">
			<div class="ym-grid">
				<article class="ym-g960-12 ym-gl">
					<div class="ym-gbox">
						<div id="validationFeedback">
							<span></span>
						</div>
						<form class="clearfix tableDataFields" id="addItemForm"  th:action="@{submitaddItem.html}"  th:object="${item}"  action="message.html" name="addItemForm"  method="post">

							<fieldset title="Add New Item" class="foldedset">
								<ul>
								
									<li class="elem-3">
										<label for="isbnno" th:text="@{ISBN No : }" >ISBN No : </label>
										<input type="text" autofocus="autofocus" tabindex="20" autocomplete="on" required="on" name="isbnno" id="isbnno" th:field="*{isbnno}"/>
									</li>
								
									<li class="elem-3">
										<label for="itemTypeDropdown" th:text="@{Item Type : }" class="required">Item Type : </label>
										<select tabindex="30" id="itemTypeDropdown" name="itemTypeDropdown">
											<option value="" th:text="Select ">Select</option>
											<option th:each="itemtype : ${itemTypeList}" th:value="${itemtype.itemTypeId}" th:text="${itemtype.description}">Wireframe</option>
										</select>
										<input type="button" tabindex="40" th:id="addItemTypeAjax" id="addItemType" name="addItemType" value="New Item Type"/>
										
									</li>
									
									<li class="elem-3" id="languageDetails">
										<label for="languageDropdown" th:text="@{Language : }" class="required">Language: </label>
										<select tabindex="70" id="languageDropdown" name="languageDropdown" required="on">
											<option value="" th:text="Select ">Select</option>
											<option th:each="itemLanguage : ${itemLanguagesList}" th:value="${itemLanguage.languageId}" th:text="${itemLanguage.languageName}">Wireframe</option>
										</select>
										<input type="button" tabindex="80" th:id="addLanguageAjax" id="addLanguage" name="addLanguage" value="New Language"/>
									</li>
									<li class="elem-3">
										<label for="translationCheck" th:text="@{Has Translation : }" class="required">Has Translation: </label>
										<input type="radio" tabindex="90" name="translationRadio" value="Yes" th:id="translationRadioYAjax" id="translationRadioY" required="on" checked="true"/> Yes
										<input type="radio" tabindex="100" name="translationRadio" value="No" th:id="translationRadioNAjax" id="translationRadioN" required="on" /> No
									</li>
									<li class="elem-3" id="translationDetails">
										<label for="Translations" th:text="@{Translations : }" class="required">Translations : </label>
										<select tabindex="110" id="translationsDD" name="translationslDD" required="required">
											<option value="" th:text="Select ">Select</option>
											<option th:each="itemsTranslations : ${translationList}" th:value="${itemsTranslations.translationId}" th:text="${itemsTranslations.translatedfrom}">Wireframe</option>
										</select>
										<input type="button" tabindex="120" th:id="addTranslationsAjax" id="addTranslationsAjax" name="addTranslationsAjax" value="New Translation"/>
									</li>
								
								 <li class="elem-3">
										<label for="marathiName" th:text="@{Item printed Name : }" class="required">Item printed Name : </label>
										<input type="text" tabindex="130" autocomplete="on" required="on" name="marathiName" id="marathiName" th:field="*{marathiName}"/>
									</li>
									
									<li class="elem-3">
										<label for="englishName" th:text="@{English Name : }" class="required">Item Name (English) : </label>
										<input type="text" tabindex="140" autocomplete="on" required="on" name="englishName" id="englishName" th:field="*{englishName}"/>
									</li>
									<li class="elem-3">
										<label for="Author" th:text="@{Author : }" class="required">Author : </label>
										<select tabindex="150" id="authorDD" name="authorDD">
											<option value="" th:text="Select ">Select</option>
											<option th:each="itemsAuthor : ${authorList}" th:value="${itemsAuthor.authorId}" th:text="${itemsAuthor.englishName}">Wireframe</option>
										</select>
										<input type="button" tabindex="160" id="addAuthor" th:id="addAuthorAjax" name="addAuthor" value="New Author"/>
									</li>
									<li class="elem-3">
										<label for="PublSuppl" th:text="@{Publisher : }" class="required">Publisher: </label>
										<select tabindex="170" id="PublSupplDD" name="PublSupplDD">
											<option value="" th:text="Select ">Select</option>
											<option th:each="itemsPublSuppl : ${publsupplList}" th:value="${itemsPublSuppl.pubSupId}" th:text="${itemsPublSuppl.englishName}">Wireframe</option>
										</select>
										<input type="button" tabindex="180" th:id="addPublSupplAjax" id="addPublSuppl" name="addPublSuppl" value="New Publ Suppl"/>
									</li>
									<li class="elem-3">
										<label for="price" th:text="@{Printed Price : }" class="required">Printed Price : </label>
										<input type="text" tabindex="190" autocomplete="on" required="on" name="price" id="price" th:field="*{price}"/>
									</li>
								<!-- 	
									<li class="elem-3">
										<label for="discountedprice" th:text="@{Discounted Price : }" class="required">Discounted Price : </label>
										<input type="text" tabindex="200" autocomplete="on" required="on" name="discountedprice" id="discountedprice" th:field="*{discountedPrice}"/>
								
										<label for="discountedpriceEndDate" th:text="@{Discount End Date : }" class="required">Discount End Date : </label>
										<input type="text" tabindex="210" autocomplete="on" required="on" name="discountedpriceEndDate" id="discountedpriceEndDate" th:field="*{discountedPriceEndDate}"/>
									</li>
								 -->	
									<li class="elem-3">
										<label for="purchaseprice" th:text="@{Purchase Price : }" class="required">Purchase Price : </label>
										<input type="text" tabindex="220" autocomplete="on" required="on" name="purchasePrice" id="purchasePrice" th:field="*{purchasePrice}"/>
									</li>
									<li class="elem-3">
										<label for="purchaseDiscountPercent" th:text="@{Purchase Discount(%) : }" class="required">Purchase Discount(%) : </label>
										<input type="text" tabindex="230" autocomplete="on" required="on" name="purchaseDiscountPercent" id="purchaseDiscountPercent" th:field="*{purchaseDiscountPercent}"/>
									</li>
									<li class="elem-3">
										<label for="maxSaleDiscountPrecent" th:text="@{Maximum sale discount(%) : }" class="required">Maximum sale discount(%) : </label>
										<input type="text" tabindex="240" autocomplete="on" required="on" name="maxSaleDiscountPrecent" id="maxSaleDiscountPrecent" th:field="*{maxSaleDiscountPrecent}"/>
									</li>
									
									<li class="elem-3">
										<label for="maxSaleDiscountPrice" th:text="@{Maximum Sale Discount Price : }" class="required">Maximum Sale Discount Price : </label>
										<input type="text" tabindex="250" autocomplete="on" required="on" name="maxSaleDiscountPrice" id="maxSaleDiscountPrice" th:field="*{maxSaleDiscountPrice}"/>
									</li>
									
									

								</ul>
							</fieldset>

							<fieldset title="&nbsp;" class="foldedset">
								<ul>
									
									<li class="elem-3">
										<label for="edition" th:text="@{Edition : }" class="required">Edition : </label>
										<select tabindex="270" id="editionDropdown" name="editionDropdown">
											<option value="" th:text="Select ">Select</option>
											<option th:each="itemsEdition : ${editionList}" th:value="${itemsEdition.editionId}" th:text="${itemsEdition.edition}">Wireframe</option>
										</select>
										<input type="button" tabindex="280" th:id="addItemsEdtionAjax" id="addItemsEdtionAjax" name="addEdition" value="New Edition"/>
									</li>
									<li class="elem-3">
										<label for="reprintCheck" th:text="@{Reprint : }" class="required">Reprint : </label>
										<input type="radio" tabindex="400" name="reprintRadio" value="Yes" th:id="reprintRadioYAjax" id="reprintRadioY" required="on" checked="true"/> Yes
										<input type="radio" tabindex="410" name="reprintRadio" value="No" th:id="reprintRadioNAjax" id="reprintRadioN" required="on" /> No
									</li>
									<li class="elem-3" id="reprintDetails">
									<label for="reprint" th:text="@{Reprint : }" class="required">Reprint : </label>
										<select tabindex="270" id="reprintDropdown" name="reprintDropdown">
											<option value="" th:text="Select ">Select</option>
											<option th:each="itemsReprint : ${reprintList}" th:value="${itemsReprint.reprintId}" th:text="${itemsReprint.reprint}">Wireframe</option>
										</select>
										<input type="button" tabindex="280" th:id="addItemsReprintAjax" id="addItemsReprintAjax" name="addReprint" value="New Reprint"/>
									</li>
									<li class="elem-3">
										<label for="noOfPages" th:text="@{No of Pages / Duration : }" class="required">No of Pages : </label>
										<input type="text" tabindex="310" autocomplete="on" required="on" name="noOfPages" id="noOfPages" th:field="*{noOfPages}"/>
									</li>									
									<li class="elem-3">
										<label for="bindingTypeDropdown" th:text="@{Binding Type : }" class="required">Binding Type : </label>
										<select tabindex="320" id="bindingTypeDropdown" name="bindingTypeDropdown">
											<option value="" th:text="Select ">Select</option>
											<option th:each="bindingtype : ${bindingTypeList}" th:value="${bindingtype.bindingTypeId}" th:text="${bindingtype.bindingTypeName}">Wireframe</option>
										</select>
										<input type="button" tabindex="330" th:id="addBindingTypeAjax" id="addbindingType" name="addbindingType" value="New binding Type"/>
									</li>
									
									<li class="elem-3">
										<label for="rackLocation" th:text="@{Rack Location : }" class="required">Rack Location : </label>
										<input type="text" tabindex="350" autocomplete="on" required="on" name="location" id="location" th:field="*{location}"/>
									</li>
									<li class="elem-3">
										<label for="maxLevel" th:text="@{Max Lvl : }" class="required">Max Lvl : </label>
										<input type="text" tabindex="360" autocomplete="on" required="on" name="maxLevel" id="maxLevel" th:field="*{maxLevel}"/>
									</li>
									<li class="elem-3">
										<label for="minLevel" th:text="@{Min Lvl : }" class="required">Min Lvl : </label>
										<input type="text" tabindex="370" autocomplete="on" required="on" name="minLevel" id="minLevel" th:field="*{minLevel}"/>
									</li>
									<li class="elem-3">
										<label for="Categories" th:text="@{Categories : }" class="required">Categories : </label>
										<select tabindex="380" id="CategoriesDD" name="CategorieslDD" required="required">
											<option value="" th:text="Select ">Select</option>
											<option th:each="itemsCategories : ${categoryList}" th:value="${itemsCategories.categoryId}" th:text="${itemsCategories.categoryHeadEnglish}">Wireframe</option>
										</select>
										<input type="button" tabindex="390" id="addCategories" th:id="addCategoriesAjax" name="addCategories" value="New Category"/>
									</li>	
									<li class="elem-3">
										<label for="description" th:text="@{Description : }">Description : </label>
										<textarea tabindex="400" autocomplete="on" name="description" id="description" th:field="*{description}" style="min-height:5em; max-height:10em"></textarea>
									</li>
									<li class="elem-3">
										<label for="awardsCheck" th:text="@{Won Awards : }" class="required">Won Awards: </label>
										<input type="radio" tabindex="400" name="awardRadio" value="Yes" th:id="awardRadioYAjax" id="awardRadioY" required="on" checked="true"/> Yes
										<input type="radio" tabindex="410" name="awardRadio" value="No" th:id="awardRadioNAjax" id="awardRadioN" required="on" /> No
									</li>
									<li class="elem-3" id="awardDetails">
										<label for="addawarddetails" th:text="@{Award Detail : }" class="required">Award Details : </label>
										<select tabindex="420" id="AwarddetailsDD" name="AwarddetailsDD" required="required">
											<option value="" th:text="Select ">Select</option>
											<option th:each="awardDetails : ${awarddetailsList}" th:value="${awardDetails.awardDetailId}" th:text="${awardDetails.awardDetailsEnglish}">Wireframe</option>
										</select>
										<input type="button" tabindex="430" id="addAwarddetails" th:id="addAwarddetailsAjax" name="addAwarddetails" value="New Award"/>									
									</li>
									<li class="elem-3">
										<label for="itemCoverImage" th:text="@{Item Cover : }" class="required">Item Cover : </label>
										<label id="itemCoverImageFileName" th:text="@{Select a File to upload}" >Select a File to upload </label> 
										<input type="hidden" tabindex="440" autocomplete="on" required="on" name="itemCoverImage" id="itemCoverImage" th:field="*{itemCoverImage}"/>
										<input tabindex="450" type="button" value="Upload" id="uploadItemCoverbtn" name="uploadItemCoverbtn"/>
									</li>
									<li class="elem-3">
										<label for="ebookFile" th:text="@{E-Book File : }">E-Book File : </label>
										<label id="ebookFileName" th:text="@{Select a File to upload}" >Select a File to upload </label>
								
										<input type="hidden" tabindex="460" autocomplete="on" name="ebookFile" id="ebookFile" th:field="*{ebookFile}"/>
										<input tabindex="470" type="button" value="Upload" id="uploadebookFilebtn" name="uploadebookFilebtn"/>									</li>
									<li class="elem-3">
										<label for="audioBookFile" th:text="@{Audio Book File : }">Audio Book File : </label>
											<label id="audioBookFileName" th:text="@{Select a File to upload}" >Select a File to upload </label>
								
											<input type="hidden" tabindex="480" autocomplete="on" name="audioBookFile" id="audioBookFile" th:field="*{audioBookFile}"/>
											<input tabindex="490" type="button" value="Upload" id="uploadaudioBookbtn" name="uploadaudioBookbtn"/>

									</li>
									<li class="elem-3">
										<input tabindex="500" type="reset" value="Reset " id="reset" name="reset"/>
										<input tabindex="510" type="submit" value="Save" id="addItemsubmitbtn" name="addItemsubmitbtn"/>
									</li>
								</ul>
							</fieldset>

							<!-- <input type="hidden" autocomplete="on" name="hitemId" id="hitemId" th /> -->
							<input type="hidden" autocomplete="on" name="hbindingtype" id="hbindingtype" />
							<input type="hidden" autocomplete="on" name="hitemtype" id="hitemtype" />
							<input type="hidden" autocomplete="on" name="hitemlanguage" id="hitemlanguage" />
							<input type="hidden" autocomplete="on" name="hitemsedition" id="hitemsedition" />
							
							<input type="hidden" autocomplete="on" name="hitemCoverImage" id="hitemCoverImage" th:field="*{itemCoverImage}"/>
							<input type="hidden" autocomplete="on" name="hebookFile" id="hebookFile" th:field="*{ebookFile}"/>
							<input type="hidden" autocomplete="on" name="haudioBookFile" id="haudioBookFile" th:field="*{audioBookFile}"/>

							<input type="hidden" autocomplete="on" name="hitemsstockcenters" id="hitemsstockcenters"/>
							<input type="hidden" autocomplete="on" name="hitemsauthorses" id="hitemsauthorses"/>
							<input type="hidden" autocomplete="on" name="hitemspublsuppls" id="hitemspublsuppls"/>
						
							<input type="hidden" autocomplete="on" name="htranslations" id="htranslations"/>
							<input type="hidden" autocomplete="on" name="hitemscategories" id="hitemscategories"/>
							<input type="hidden" autocomplete="on" name="hawarddetails" id="hawarddetails"/>
							<input type="hidden" autocomplete="on" name="tempFileId" id="tempFileId"/>
							
						</form>
					</div>
				</article>
			</div>
		</div>
		<div id="selectStockCenter">
			<!--<form> Error! when form tag is enabled -->
			<fieldset title="Select Stock Center">
			<ul>
				<li class="elem-3">
					<label for="stockCenter" th:text="@{Stock Center : }" class="required">Stock Center : </label>
					<select tabindex="110" id="stockCenterDD" name="stockCenterDD">
					<option value="" th:text="Select ">Select</option>
					<option th:each="itemsStockCenter : ${itemStockCenterList}" th:value="${itemsStockCenter.stockCenterId}" th:text="${itemsStockCenter.stockCenterHead}">Wireframe</option>
					</select>
					<input type="button" tabindex="120" id="addStockCenter" th:id="addStockCenterAjax" name="addStockCenter" value="New Stock Center"/>
				</li>
				<li>
					<input type="submit" value="Cancel " id="exitAddItem" name="exitAddItem"/>
					<input type="submit" value="Proceed" id="selectStockCenterSubmit" name="selectStockCenterSubmit"/>
				</li>
			 </ul>
			</fieldset>
			<!--</form> -->
		</div>
		
		<div id="float-modal-form" title="Add new information">

		</div>
		<footer role="contentinfo">
			<p>
				<span class="left">E-Rasik <a href="#">Goto Top</a></span>

			</p>
		</footer>

	</body>

	<!--<script>
	window.jQuery || document.write('<script type="text/javascript" src="../assets/js/jquery-1.8.1.min.js"><\/script>')
	</script>-->
	<script type="text/javascript" src="../assets/js/jquery.validate.js"></script>
	<script type="text/javascript" src="../assets/js/itemDataFields.js"></script>
	<script type="text/javascript" src="../assets/js/jquery-ui-1.10.4.custom.js"></script>

</html>