<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
          xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="headerFragment1">

		<script th:remove="all" type="text/javascript" src="../assets/js/pages.js"></script>
		<script th:remove="all" type="text/javascript" src="../assets/js/thymol.js"></script>

	<meta charset="utf-8"/>
	<title>Rasik Sahitya</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:regular" type="text/css" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Junge" type="text/css"/>
	
	<link rel="stylesheet" href="../assets/fonts/raphaelicons.css" th:href="@{/assets/fonts/raphaelicons.css}" ></link>
  	<link rel="stylesheet" href="../assets/css/styles.css" th:href="@{/assets/css/styles.css}"></link>
  	<link rel="stylesheet" href="../assets/css/intiratstyle.css" th:href="@{/assets/css/intiratstyle.css}"></link>
  	<link rel="stylesheet" href="../assets/css/custom-grids.css" th:href="@{/assets/css/custom-grids.css}"></link>
  	<link rel="stylesheet" href="../assets/css/jquery-ui-1.10.4.custom.css" th:href="@{/assets/css/jquery-ui-1.10.4.custom.css}"></link>
  	
  	<link rel="stylesheet" href="../assets/css/demo_page.css" th:href="@{/assets/css/demo_page.css}"></link>
  	<link rel="stylesheet" href="../assets/css/demo_table.css" th:href="@{/assets/css/demo_table.css}"></link>
  	<script src="http://code.jquery.com/jquery.min.js"></script>
  	
  	<script src="../assets/js/libs/modernizr-2.5.2.min.js" th:src="@{/assets/js/libs/modernizr-2.5.2.min.js}"></script>
  	<script src="../assets/js/script.min.js" th:src="@{/assets/js/script.min.js}"></script>
  	<script src="../assets/js/jquery.json-2.4.min.js" th:src="@{/assets/js/jquery.json-2.4.min.js}"></script>
  	<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css"></link>
  	
</head>
<body>
 <header class="clearfix" th:fragment="contactMenuFragment">
      
        <a id="logo" href="index.html">Rasik Sahitya</a>
        <ul class="social-icons">
          <li><a href="http://www.twitter.com" class="icon">^</a></li>
          <li><a href="#" th:href="@{/index.html?lang=en}" class="icon">En | </a></li>
          <li><a href="#" th:href="@{/index.html?lang=mr}" class="icon">^</a></li>
        </ul>
        <nav class="clearfix">
          <ul role="navigation">
            <li>
              <a href="index.html" th:href="@{/index.html}" id="homemenu" th:text="#{erasik.homeMenu}"><span class="icon">S</span>Home</a>
            </li>
            <!-- <li>
              <a href="portfolio.html" th:href="@{/portfolio.html}"><span class="icon">Û</span>Portfolio</a>
            </li>
            <li>
              <a href="page.html"><span class="icon">E</span>Page</a>
            </li>
            <li>
              <span sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/blog.html}" href="blog.html"><span class="icon">E</span>Blog</a></span>
            </li>
            <li>
              <a href="contact.html"  th:href="@{/contact.html}" class="activePage"><span class="icon">M</span>Contact us</a>
            </li> -->
             <li>
              <a href="admin.html" th:href="@{/admin/showItemTypes.html}" id="adminmenu"><span class="icon">S</span>Database</a>
            </li>
           
          </ul>
        </nav>
      
  </header>
  
  	<form th:fragment="addItemTypeFragment" class="clearfix tableDataFields" 
  	id="itemTypeForm"  th:object="${itemType}"  
  	th:action="@{javascript:submitItemTypeAjax();}" action="message.html" name="itemTypeForm"  method="post">
		<fieldset title="Add Item Types">
			<ul>
				<li>
					<label for="name" th:text="@{Item Description}" class="required">Item Description : </label>
					<input type="text" tabindex="" autocomplete="on" required="on"  maxlength="500" name="description" id="description" th:field="*{description}"/>
				</li>
				<li>
					<label class="required" for="vatPerc">Vat Percentage : </label>
					<input type="text" tabindex="" autocomplete="on" required="on" name="vatPerc" id="vatPerc" th:field="*{vatPerc}"/>
				</li>
				<li>
					<input tabindex="" type="reset" value="Reset " id="reset" name="reset"/>
					<input tabindex="" type="submit" value="Save" id="addItemTypesubmitbtn" name="addItemTypesubmitbtn"/>
				</li>
			</ul>
		</fieldset>
	</form>

	<form  th:fragment="bindingTypeFragment" th:action="@{javascript:submitBindingTypeAjax();}" 
	class="clearfix tableDataFields" id="bindingTypeForm"  
	th:object="${bindingType}"  action="message.html" name="bindingTypeForm"  method="post">
		<fieldset title="Add bindingTypes">
			<ul>
			<li>
				<label class="required" for="cust_type_desc" th:text="@{Binding Type Description}">Binding Type Description : </label>
				<input type="text" tabindex="" autocomplete="on" required="on" name="bindingTypeName" id="bindingTypeName" th:field="*{bindingTypeName}"/>
			</li>
			<li>
				<input tabindex="" type="reset" value="Reset " id="reset" name="reset"/>
				<input tabindex="" type="submit" value="Save" id="submitbindingTypebtn" name="submitbindingTypebtn"/>
			</li>
			</ul>
		</fieldset>
	</form>

	<form th:fragment="addDiscountFragment" class="clearfix tableDataFields" 
	id="discountForm"  th:object="${discount}"  
	th:action="@{javascript:submitaddDiscountAjax();}" action="message.html" name="discountForm"  method="post">
		<fieldset title="Add Discount Types">
			<ul>
				<li>
					<label for="name" th:text="@{Discount Description}" class="required">Discount Description : </label>
					<input type="text" tabindex="10" autocomplete="on" required="on"  maxlength="500" name="description" id="description" th:field="*{description}"/>
				</li>
				<li>
					<label class="required" for="vatPerc">Vat Percentage : </label>
					<input type="text" tabindex="20" autocomplete="on" required="on" name="vatPerc" id="vatPerc" th:field="*{vatPerc}"/>
				</li>
				<li>
					<input tabindex="40" type="reset" value="Reset " id="reset" name="reset"/>
					<input tabindex="10" type="submit" value="Save" id="adddiscountsubmitbtn" name="adddiscountsubmitbtn"/>
				</li>
			</ul>
		</fieldset>
	</form>
			
			<!-- Form for adding new Language-->
			
	<form  th:fragment="languageFragment" th:action="@{javascript:submitLanguageAjax();}" 
	class="clearfix tableDataFields" id="languageForm"  
	th:object="${language}"  action="message.html" name="languageForm" method="post">
		<fieldset title="Add Language">
			<ul>
			<li>
				<label class="required" for="cust_type_desc" th:text="@{Binding Type Description}">Language Name : </label>
				<input type="text" tabindex="" autocomplete="on" required="on" name="languageTypeName" id="languageTypeName" th:field="*{languageTypeName}"/>
			</li>
			<li>
				<input tabindex="" type="reset" value="Reset " id="reset" name="reset"/>
				<input tabindex="" type="submit" value="Save" id="submitLanguageTypebtn" name="submitLanguageTypebtn"/>
			</li>
			</ul>
		</fieldset>
	</form>

  <form th:fragment="addItemTypeFragment" class="clearfix tableDataFields" id="itemTypeForm"  th:object="${itemType}"  th:action="@{javascript:submitAjax();}" action="message.html" name="itemTypeForm"  method="post">
				<fieldset title="Add Item Types">
					<ul>
						<li>
							<label for="name" th:text="@{Item Description}" class="required">Item Description : </label>
							<input type="text" tabindex="10" autocomplete="on" required="on"  maxlength="500" name="description" id="description" th:field="*{description}"/>
						</li>
						<li>
							<label class="required" for="vatPerc">Vat Percentage : </label>
							<input type="text" tabindex="20" autocomplete="on" required="on" name="vatPerc" id="vatPerc" th:field="*{vatPerc}"/>
						</li>
						<li>
							<input tabindex="40" type="reset" value="Reset " id="reset" name="reset"/>
							<input tabindex="10" type="submit" value="Save" id="addItemTypesubmitbtn" name="addItemTypesubmitbtn"/>
						</li>
					</ul>
				</fieldset>
</form>
<br/>
	<form  th:fragment="bindingTypeFragment" th:action="@{javascript:submitBindingTypeAjax();}" class="clearfix tableDataFields" id="bindingTypeForm"  th:object="${bindingType}"  action="message.html" name="bindingTypeForm"  method="post">

							<fieldset title="Add bindingTypes">
							<ul>
							<li>
								<label class="required" for="cust_type_desc" th:text="@{Binding Type Description}">Binding Type Description : </label>
								<input type="text" tabindex="20" autocomplete="on" required="on" name="bindingTypeName" id="bindingTypeName" th:field="*{bindingTypeName}"/>
							</li>
							<li>
								<input tabindex="40" type="reset" value="Reset " id="reset" name="reset"/>
								<input tabindex="10" type="submit" value="Save" id="submitbindingTypebtn" name="submitbindingTypebtn"/>
							</li>
							</ul>
							</fieldset>
						</form>

	<br/>
	<form th:fragment="addDiscountFragment" class="clearfix tableDataFields" id="discountForm"  th:object="${discount}"  th:action="@{javascript:submitaddDiscountAjax();}" action="message.html" name="discountForm"  method="post">
				<fieldset title="Add Discount Types">
					<ul>
						<li>
							<label for="name" th:text="@{Discount Description}" class="required">Discount Description : </label>
							<input type="text" tabindex="10" autocomplete="on" required="on"  maxlength="500" name="description" id="description" th:field="*{description}"/>
						</li>
						<li>
							<label class="required" for="vatPerc">Vat Percentage : </label>
							<input type="text" tabindex="20" autocomplete="on" required="on" name="vatPerc" id="vatPerc" th:field="*{vatPerc}"/>
						</li>
						<li>
							<input tabindex="40" type="reset" value="Reset " id="reset" name="reset"/>
							<input tabindex="10" type="submit" value="Save" id="adddiscountsubmitbtn" name="adddiscountsubmitbtn"/>
						</li>
					</ul>
				</fieldset>
			</form>
<br/>			
	<!-- Start : Itemtype List fragment  -->		
		<div th:fragment="itemTypeListFragment">
			<table id="example">
  			<thead title="itemType Table">
    				<tr><th class="site_name">ItemTypeId</th><th>Description </th><th>vatPerc</th></tr>
			</thead>
			<tbody>
			</tbody>
			</table>
				<script type="text/javascript" th:utext="'var data = ' + ${itemTypes}" >
  var data=[{"itemTypeId":2,"description":"Test1","vatPerc":12.0,"itemses":[]}];
  </script > 
  <script type="text/javascript">
//<![CDATA[
  var oTable ;
  $(document).ready(function(){
	  
	  oTable = $("#example").dataTable({
	  "bProcessing": true,
	  "aaData": data
	  ,
	  "aoColumns": [
	    			{ "mDataProp": "itemTypeId" },
	    			{ "mDataProp": "description" },
	    			{ "mDataProp": "vatPerc" }
	    			
	    		]
	});
	  
	  
	 
	  $("#example tbody").click(function(event) {
			$(oTable.fnSettings().aoData).each(function (){
				$(this.nTr).removeClass('row_selected');
			});
			$(event.target.parentNode).addClass('row_selected');
			
			var anSelected = fnGetSelected( oTable );
			var itemTypeId_selected=anSelected[0].childNodes[0].innerHTML;
			document.location ="getitemListTypeById.html?itemTypeId=" + itemTypeId_selected;		
		});
	  
	  
	  
  } );
  
  /* Get the rows which are currently selected */
  function fnGetSelected( oTableLocal )
  {
  	var aReturn = new Array();
  	var aTrs = oTableLocal.fnGetNodes();
  	var aTrsLength=aTrs.length;
  	for ( var i=0; i < aTrsLength; i++ )
  	{
  		if ( $(aTrs[i]).hasClass('row_selected') )
  		{
  			aReturn.push( aTrs[i] );
  		}
  	}
  	return aReturn;
  }
  
//]]>

  </script>			
</div>
<!-- End: -->
</body>

</html>