<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head th:substituteby="html/common :: headerFragment1">
		<script th:remove="all" src="../assets/js/pages.js">	</script>
		<script th:remove="all" src="../assets/js/thymol.js">	</script>
	</head>
	<!--[if lt IE 7]> <body class="ie6 oldies"> <![endif]-->
	<!--[if IE 7]>    <body class="ie7 oldies"> <![endif]-->
	<!--[if IE 8]>    <body class="ie8 oldies"> <![endif]-->
	<!--[if gt IE 8]><!-->
	<body>
		<!--[if lte IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
		<header class="clearfix">
			<div th:include="html/common :: contactMenuFragment" class="container">	</div>
		</header>
		<section role="banner">
			<hgroup>
				<h1>New User Registration</h1>
			</hgroup>
		</section>
		<div class="ym-wrapper">
			<div class="ym-grid linearize-level-1">
				<section class="ym-g960-2 ym-gl">
					&nbsp;
				</section>
				<section class="ym-g960-8 ym-gl">
					<div class="ym-gbox">
						<div id="registerValidationFeedback">
							<span> </span>
						</div>
						<form class="clearfix tableDataFields" id="userRegistrationForm"  th:action="@{submitRegistration.html}" name="userRegistrationForm"  method="post" th:object="${customerObject}">
							<ul>
								<li class="">
									<label for="firstname" th:text="@{First Name : }" class="required">First Name : </label>
									<input  class="required" required="required" type="text" autofocus="autofocus" tabindex="20" autocomplete="on" name="firstName" id="firstName" th:field="*{firstName}" placeholder="First Name" />
								</li>
								<li class="">
									<label for="lastname" th:text="@{Last Name : }">Last Name : </label>
									<input  class="required" required="required" type="text" tabindex="30" autocomplete="on" name="lastName" id="lastname" th:field="*{lastName}" placeholder="Last Name" />
								</li>
								<li class="">
									<label for="address1" th:text="@{Address Line 1 : }">Address Line 1 : </label>
									<input  class="required" required="required" type="text" tabindex="40" autocomplete="on" name="address1" id="address1" th:field="*{address1}" placeholder="Address Line 1" />
								</li>
								<li class="">
									<label for="address2" th:text="@{Address Line 2 : }">Address Line 2 : </label>
									<input  class="required" required="required" type="text" tabindex="50" autocomplete="on" name="address2" id="address2" th:field="*{address2}" placeholder="Address Line 2"/>
								</li>
								<li class="">
									<label for="country" th:text="@{Country  : }" class="required">Country : </label>
									<select required="required" name="country" id="country" th:field="*{country}" tabindex="60" >
										<option value="">Select Country</option>
										<option value="India">India</option>
										<option value="US">United States of America</option>
									</select>
								</li>
								<li class="">
									<label for="state" th:text="@{State : }" class="required">State : </label>
									<select required="required" name="state" id="state" th:field="*{state}" tabindex="70" >
										<option value=''>...</option>
									</select>
								</li>
								<li class="">
									<label for="city" th:text="@{City : }" class="required">City : </label>
									<input  class="required" required="required" type="text" tabindex="80" autocomplete="on" name="city" id="city" th:field="*{city}" placeholder="City"/>
								</li>
								<li class="">
									<label for="phone" th:text="@{Phone No : }" class="required">Phone No : </label>
									<input type="text" autocomplete="on" required="required" name="phone1" id="phone1" th:field="*{phone1}" tabindex="90" placeholder="00-00-000000"/>
									<div class="fieldInstructions">
										Provide your contact number with country code.
									</div>
								</li>
								<li class="">
									<label for="email" th:text="@{E-mail  : }" >E-mail : </label>
									<input type="email" autocomplete="on" required="required" name="email" id="email" th:field="*{email}" tabindex="100" placeholder="emailid@domain.com"/>
									<div class="fieldInstructions">
									</div>
								</li>
								<li class="">
									<label for="company" th:text="@{Company Name : }" >Company Name : </label>
									<input type="text" tabindex="110" autocomplete="on" name="companyName" id="companyName" th:field="*{companyName}" value="Rasik Sahitya Pvt. Ltd."/>
								</li>
								<li class="">
									<label for="designation" th:text="@{Designation : }">Designation : </label>
									<input type="text" tabindex="120" autocomplete="on" name="designation" id="designation" th:field="*{designation}" placeholder="Designation"/>
								</li>
								<li class="">
									<label for="userName" th:text="@{User Name : }" class="required" >User Name : </label>
									<input type="text" autocomplete="on" required="required"  tabindex="130" name="username" id="username" th:field="*{username}" placeholder="erasikuser"/>
								</li>
								<li class="">
									<label for="password" th:text="@{User Password : }" class="required" >Password : </label>
									<input type="password" autocomplete="on" required="required" tabindex="140" name="password" placeholder="Password" id="password" th:field="*{password}"/>
									<div class="fieldInstructions">
										Entered password may not necessarily be your EMail ID Password.
									</div>
								</li>
								<li class="">
									<label for="confirmPassword" th:text="@{Confirm Password : }" class="required" >Confirm Password : </label>
									<input type="password" autocomplete="on" required="required" tabindex="160" name="confirmPassword" placeholder="Password" id="confirmPassword"/>
								</li>
								<li class="">
									<label for="OTPOption" th:text="@{Do you want to Confirm EMail ID and Mobile Number for further communication ? : }">Do you want to Confirm EMail ID and Mobile Number for further communication ? : </label>
									<div class="singleFieldContainer">
										<input type="checkbox" name="needverify" id="needverify"  tabindex="170"/>
										<span> Yes</span>
									</div>
								</li>
								<li>
									<input type="submit" value="Submit" id="registersubmitbtn" name="registersubmitbtn" tabindex="180"/>
									<input type="reset" value="Reset " id="registerReset" name="registerReset" tabindex="190"/>
									<input id="registerCancel" type="button" value="Cancel" tabindex="200"/>
								</li>
							</ul>
							<input type="hidden" name="designationHidden " id="designationHidden " />
							<input type="hidden" name="companyHidden " id="companyHidden " />
						</form>
					</div>
				</section>
				<section class="ym-g960-2 ym-gl">
					&nbsp;
				</section>
			</div>
		</div>
		<footer role="contentinfo" th:substituteby="html/common :: footerFragment">	</footer>
		<script type="text/javascript" src="../../erasik/assets/js/jquery.validate.js">	</script>
		<script type="text/javascript" src="../../erasik/assets/js/registervalidation.js">	</script>
	</body>
</html>