<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender name="all" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="/home/sunil/kriyas.log"/><!--edit to name of your app.-->
    <param name="MaxFileSize" value="2000KB"/>
    <param name="MaxBackupIndex" value="10"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="&lt;%d&gt;&lt;%x&gt;&lt;%p&gt;&lt;%c.%M()-%L&gt;&lt;%m%n&gt;"/>
    </layout>
  </appender>
  
  <category name="*">
  	<priority value="DEBUG"/> 
  </category>
 
  <root>
    <level value="DEBUG" />
    <appender-ref ref="all"/>
  </root>

</log4j:configuration>